.hc {
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 700px;
  height: 100vh;
  background-color: #111;
  display: flex;
  margin: 0 auto;
  padding: 0.5rem;
  z-index: 99;
  box-sizing: border-box;
}

.abt {
  height: auto;
  min-height: 90vh;
  background-color: #111;
  width: 100%;
  max-width: 800px;
  margin: 1rem auto;
  padding: 1rem;
  display: flex;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap; /* allows content to stack on smaller screens */
  z-index: 99;
  box-sizing: border-box;
  flex-direction: row;
}
.abt-txt{
  width: 100%;
  max-width: 450px;
}

.ab-img {
  border-radius: 30px;
  width: 250px;
  max-width: 100%;
  height: auto;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .abt {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .hc{
    top: 0;
  }
  .ab-img {
    width: 200px;
  }
}

@media (max-width: 540px) {
  body {
    overflow-y: auto; /* allow scrolling instead of hiding */
  }

  /* .hc {
    padding: 0.5rem;
  } */

  .abt {
    padding: 0.5rem;
    gap: 10px;
  }

  .ab-img {
    width: 150px;
  }
}
html {
  scroll-behavior: smooth;
}
