.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.popup-container {
  background: #000000;
  padding: 2rem;
  border-radius: 12px;
  width: 400px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.popup-container input  {
  width: 100%;
  margin-bottom: 1rem;
  padding: 8px;
  background-color: black;
  border: 1px;
}
.popup-container select  {
  width: 100%;
  margin-bottom: 1rem;
  padding: 8px;
}

.popup-container button {
  margin: 0.5rem;
  padding: 8px 16px;
  cursor: pointer;
  border: 0;
  border-radius: 20px;
  background-color: blueviolet;
}
