
.L-sidebar {
  background-color: rgb(1, 5, 8);
  height: 95vh;
  width: 100%;
  max-width: 410px;
  right: 0;
  margin: 0.5rem;
  padding: 0;
  position: sticky;
  top:0;
  border-radius: 30px;
  padding: 10px;
  justify-items: center;
  box-shadow: 5px 5px 5px rgb(0, 0, 0.9);
  z-index: 999;
}

.pr{
  clip-path: circle();
}
.txt{
  color:white;
  text-align: start;
  font-size: 17px;
}
.R-sidebar{
  background-color: rgb(1, 5, 8);
  height: 90vh;
  width: 100%;
  max-width: 100px;
  margin-right: 0.5rem;
  margin-top: 1rem;
  z-index: 999;
  position: sticky;
  top:0;
  border-radius: 30px;
  display: flex;
  align-items: center;
  box-shadow: 5px 5px 5px rgb(0, 0, 0.9);
}
.header{
  display: none;
}

.smi{
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  gap: 50px;
  width:100%;
}
.skl{
  text-align: start;
  width:100%;
  margin: 0;
  padding: 0;
  color:white;
  list-style: linear-gradient(rgb(65, 6, 105));
  list-style-type: square;
}

.list{
  width:100%;
  padding:1rem;
}

.title{
  font-size:25px;
  color: blueviolet;
  font-style: oblique;
}

 

.bi{
  height: auto;
  font-size: 2rem;
  color: rgb(255, 255, 255);

}
.bi:hover{
   height: auto;
  transform: scale(1);
  color: blueviolet;
  transition: 1ms;

}
.bi:active{
   height: auto;
  color: blueviolet;

}


/* .bi::after{
   height: auto;
  font-size: 2.5rem;
  color: blueviolet;
  transition: 5ms;
} */

.social-ul{
  display:flex;
  flex-direction: row;
  gap:30px;
  list-style: none;
  
}
.social{
  width: 100%;
  
}

@media (max-width: 768px) {
  body{
    max-width: 350px !important;
  }
  .L-sidebar {
    display: none;
  }
  .R-sidebar {
    display: none;
  }
  .header{
    display: block;
    position: sticky;
    top: 0;
    z-index: 999;
    width:100%;
  }
  .m-icon{
    display: flex;
    gap: 50px;
    list-style: none;
    justify-content: center;
    background-color: rgb(1, 5, 8);
    margin-top: 0.5rem;
    border-radius: 30px;
    height: 100px;
    align-items: center;
    box-shadow: 5px 5px 5px rgb(0, 0, 0.9);
    width:100%;
  }
 
}
